/* ===================================== 
                Html, Body
======================================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ===================================== 
        Fading in and out Method
======================================== */
/* Animation for home-heading-1 and home-heading-2 */
@keyframes fadeInHeading {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/* Animation for home-text and learn more button */
@keyframes fadeInPlace {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform:translateX(0);
    }
}

/* ===================================== 
                Home Content
======================================== */
#home-heading-1, #home-heading-2, #home-text, #learn-more-btn{
    opacity: 0;
    line-height: 1;
}

#home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:white;
    font-size: 20px;
}
  
#home-content-inner {
    text-align: center;
}

#home-heading {
    padding-bottom: 25px;
}

#home-heading-1 {
    animation: fadeInHeading 1s ease-in-out 0.75s forwards;
    font-weight: bold;
    font-size: 60px;
}
  
#home-heading-2 {
    animation: fadeInFromLeft 1s ease-in-out 1.5s forwards; 
    font-weight: bold;
    font-size: 60px;
}
  
#home-text {
    animation: fadeInPlace 1s ease-in-out 2.25s forwards;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

#home-heading-2 span {
    font-style: italic;
    font-weight: bold;
    color:gold
}

#home-text span {
    font-weight: bold;
    font-style: italic;
}

#learn-more-btn a{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    animation: fadeInPlace 1s ease-in-out 3s forwards;
}

.learn-more-outline {
    background-color: transparent; /* background color */
    padding: 10px 40px; /* padding of button and border */
    border: 2px solid white; 
    display: inline-block; 
    color: white; 
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    animation: fadeInPlace 1s ease-in-out 3s forwards;
}

/* ===================================== 
    Logo, Video Background, Menu Bar
======================================== */
.logo {
    position: fixed;
    top: 10px; /* Adjust this value to position the logo vertically */
    left: 50px; /* Adjust this value to position the logo horizontally */
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* This allows the logo to scale proportionally */
    z-index: 999; /* Set a high z-index to ensure the logo appears above other content */
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Scale the video to cover the entire viewport */
    z-index: -1; /* Place the video behind other elements */
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust the height of the bar as needed */
    background-color: transparent; /* Set the background color of the bar */
    z-index: 200; /* Set the z-index to ensure the bar appears above other content */
}

/* ===================================== 
            Menu Buttons On Top
======================================== */
.menubar {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    background-color: transparent; 
    align-items: center;
    padding: 5px;
    z-index: 300; /* Optional: Adjust the z-index to ensure the menu appears above other content */
}

.navbar-nav li {
    margin-right: 10px;
    display: inline-block; /* Add this line to make the items appear horizontally */
}

.navbar-nav li a {
    color: white; /* Set the color of the link text */
    font-size: 18px; /* Adjust the font size of the link text */
    text-decoration: none; /* Remove underline from links */
    font-family: 'Raleway', sans-serif;
    font-style: bold;
}

/* ===================================== 
        Menu Buttons After Scroll
======================================== */
.scrolled-bar {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}
.navbar-nav.scrolled li a {
    color: black;
    font-style:bold;
}

/* ===================================== 
            About Me Section 1
======================================== */

.about-section {
    background-color: white; /* Replace this with your desired background color */
    color: black;
    padding: 50px;
}

#about-part-1-end {
    padding: 50px;
    justify-content: center;
    display: flex;
    align-items: center; 
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.about-left {
    display: flex;
    align-items: center; /* Vertically center the .vertical-heading within .about-left */
}

.about-right {
    font-family: 'Raleway', sans-serif;
}
.vertical-heading {
    text-transform: uppercase; 
    display: flex;
    flex-direction: column; /* Arrange the h6 and h1 elements in a column */
    align-items: center;
}

.vertical-heading h6{
    text-transform: uppercase; 
    font-size:25px;
    color:gold
}

.vertical-heading h1 {
    text-transform: uppercase; 
    font-size:35px;
}

.vertical-heading h1 span{
    text-transform: uppercase; 
    font-size:35px;
    font-weight: bold;
}

/* ===================================== 
            About Me Section 2
======================================== */

.about-section-2 {
    background-color: rgb(231, 234, 238);
    color: black;
    padding: 50px;
}

.about-item {
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-item i {
    font-size: 35px;
    margin: 0;
}
.about-item h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 150px;
    height: 3px;
    background-color: #328cc0;
    margin-bottom: 30px;
    border: none;
}

/* Hover State */
.about-item:hover {
    background-color: #328cc0;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/* Icon fly up on hover */
.about-item i {
    transition: all 400ms ease-in-out;
}
